// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.logo-cocktail {
  width: 100px;
}

.my-nav-bar {
  background-color: black;
}

.my-card {
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
}

#new_dose {
  width: 300px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.description {
  width: 400px;
  border-radius: 10px;
}